# To Ignore

# All hidden files
.*
*.class

# Rosu
Rosu/*.bak

#############################################################

# Exceptions

!.gitignore
!.gitattributes

# Markdown Linter files
!.markdownlint.json 

# Bruniera
!Bruniera/supergay
