# To Ignore

# All hidden files
.*

# Bruniera
Bruniera/programmazione/esempi/1.2
Bruniera/programmazione/esempi/*.bak
Bruniera/**/*.exe
Bruniera/**/*.java~
Bruniera/**/*.class

# Rosu
Rosu/*.bak

#############################################################

# Exceptions

!/.gitignore
# Markdown Linter files
!.markdownlint.json 

# Bruniera
!Bruniera/supergay